<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-12">
      <h1>Informations Dossier Patient</h1>

      <section class="patient-info">
        <h2>Patient Details</h2>
        <form action="">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="prenom">Patient</label>
                <input  type="text" value="{{patientName}}" readonly class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="nom">Profession</label>
                  <input  type="text" value="{{fetchedDossier.results.identification.profession}}" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="gender">Numero Dossier</label>
                  <input type="text" value="{{fetchedDossier.results.identification.numeroDossier}}" readonly class="form-control" id="exampleFormControlInput1">
                </div>
              </div>
            </div>
        </form>
      </section>
      <section class="medical-history">
        <h2>Aspects Cliniques</h2>
        <div class="row">
          <div class="col-md-12">
            <label for="motifs">Motifs Consultation</label>
            <textarea value="{{fetchedDossier.results.aspectsCliniques.motifConsultation}}" class="form-control" id="" cols="10" rows="4"></textarea>
          </div>
        </div>
            <div>
              <span class="text-center font-weight-bold">Antecedants Ophtalmologiques</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="glaucome">Chir. Glaucome</label>
                  <input value="{{fetchedDossier.results.aspectsCliniques.antecedents.ophtalmologiques.chirurgieGlaucome}}" readonly class="form-control" id="exampleFormControlSelect1" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="datechirurgieGlaucome">Date chirurgie</label>
                  <input value="{{fetchedDossier.results.aspectsCliniques.antecedents.ophtalmologiques.dateGlaucome}}" readonly type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cataracte">Chir. Cataracte</label>
                  <input type="text" readonly value="{{fetchedDossier.results.aspectsCliniques.antecedents.ophtalmologiques.chirurgieCataracte}}" class="form-control" id="exampleFormControlSelect1" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="datechirurgieCataracte">Date chirurgie</label>
                  <input value="{{fetchedDossier.results.aspectsCliniques.antecedents.ophtalmologiques.dateCataracte}}" type="text" readonly class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="autres">Autres</label>
                  <input value="{{fetchedDossier.results.aspectsCliniques.antecedents.ophtalmologiques.autres}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div>
              <span class="text-center font-weight-bold">Antecedants Généraux</span>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="hta">HTA</label>
                  <input type="text" value="{{fetchedDossier.results.aspectsCliniques.antecedents.generaux.hta}}" readonly class="form-control" id="exampleFormControlSelect1" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="diabete">Diabete</label>
                  <input type="text" value="{{fetchedDossier.results.aspectsCliniques.antecedents.generaux.diabete}}" class="form-control" readonly id="exampleFormControlSelect1" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="dysthyroidies">Dysthyroidie</label>
                  <input type="text" value="{{fetchedDossier.results.aspectsCliniques.antecedents.generaux.dysthyroidies}}" class="form-control" readonly id="exampleFormControlSelect1" />
                </div>
              </div>
            </div>
            <div>
              <span class="text-center font-weight-bold">Antecedants Familiaux</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="maladiesGen">Mala. Genetiques</label>
                  <input type="text" value="{{fetchedDossier.results.aspectsCliniques.antecedents.familiaux.maladiesGenetiques}}" readonly class="form-control" id="exampleFormControlSelect1"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="typeMaladieGenetique">Type</label>
                  <input value="{{fetchedDossier.results.aspectsCliniques.antecedents.familiaux.typeMaladieGenetique}}" type="text" readonly class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="glaucomes">Glaucome</label>
                    <input type="text" value="{{fetchedDossier.results.aspectsCliniques.antecedents.familiaux.glaucomes}}" readonly class="form-control" id="exampleFormControlSelect1"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="membresFamilleAtteints">Membres Famille</label>
                    <input value="{{fetchedDossier.results.aspectsCliniques.antecedents.familiaux.membresFamilleAtteints}}" readonly type="text" class="form-control" />
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="c">Ametropie</label>
                  <input type="text" value="{{fetchedDossier.results.aspectsCliniques.antecedents.familiaux.ametropies}}" class="form-control" id="exampleFormControlSelect1" />
                </div>
              </div>
            </div>
      </section>

      <section class="appointments">
            <div>
              <span class="text-center font-weight-bold">Examen Clinique AVLSC</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="avlscDroit">Oeil Droit</label>
                  <input value="{{fetchedDossier.results.examensCliniques.avlsc.oeilDroit}}" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="avlscGauche">Oeil Gauche</label>
                  <input value="{{fetchedDossier.results.examensCliniques.avlsc.oeilGauche}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div>
              <span class="text-center font-weight-bold">Examen Clinique AVLAC</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="avlacDroit">Oeil Droit</label>
                  <input value="{{fetchedDossier.results.examensCliniques.avlac.oeilDroit}}" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="avlacGauche">Oeil Gauche</label>
                  <input value="{{fetchedDossier.results.examensCliniques.avlac.oeilGauche}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div>
              <span class="text-center font-weight-bold">Examen Clinique AVP</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="avpDroit">Oeil Droit</label>
                  <input value="{{fetchedDossier.results.examensCliniques.avp.oeilDroit}}" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="avpGauche">Oeil Gauche</label>
                  <input value="{{fetchedDossier.results.examensCliniques.avp.oeilGauche}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div>
              <span class="text-center font-weight-bold">Examen Clinique Refraction</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="refractionDroit">Oeil Droit</label>
                  <input value="{{fetchedDossier.results.examensCliniques.refraction.oeilDroit}}" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="refractionGauche">Oeil Gauche</label>
                  <input value="{{fetchedDossier.results.examensCliniques.refraction.oeilGauche}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div>
              <span class="text-center font-weight-bold">Examen Clinique SKIASCOPIE</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="skiascopieDroit">Oeil Droit</label>
                  <input value="{{fetchedDossier.results.examensCliniques.skiascopie.oeilDroit}}" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="skiascopieGauche">Oeil Gauche</label>
                  <input value="{{fetchedDossier.results.examensCliniques.skiascopie.oeilGauche}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="segmentAnterieur">Annexes</label>
                <input value="{{fetchedDossier.results.examensCliniques.annexes}}" type="text" class="form-control" />
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="segmentAnterieur">Segment Anterieur</label>
                  <input value="{{fetchedDossier.results.examensCliniques.segmentAnterieur}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="tonusOculaire">Tonus Oculaire</label>
                  <input value="{{fetchedDossier.results.examensCliniques.tonusOculaire}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="tonusOculaire">Fond d'Oeil</label>
                  <input value="{{fetchedDossier.results.examensCliniques.fondOeil}}" type="text" class="form-control" />
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <label for="hypotheseDiagnostic">Hypothese Diagnostic</label>
              <textarea class="form-control" value="{{fetchedDossier.results.examensCliniques.hypotheseDiagnostic}}" id="" cols="10" rows="4"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="hypotheseDiagnostic">Conduite à tenir</label>
              <textarea class="form-control" value="{{fetchedDossier.results.examensCliniques.conduiteATenir}}" id="" cols="10" rows="4"></textarea>
            </div>
          </div>
        <div>
          <span class="text-center font-weight-bold">Examens Complementaires</span>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="pachymetrie">Pachymetrie</label>
              <input value="{{fetchedDossier.results.examensCliniques.pachymetrie}}" type="file" (change)="uploadImage($event.target.files, 'pachymetrie')" #avatarFileInput placeholder="Pachymetrie" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="echographieB">Echographie B</label>
              <input value="{{fetchedDossier.results.examensCliniques.avlsc.echograph}}ieB" type="file" (change)="uploadImage($event.target.files,'echographieB')" #avatarFileInput placeholder="Echographie B" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="biometrie">Biometrie</label>
              <input value="{{fetchedDossier.results.examensCliniques.avlsc.biometrie}}" type="file" (change)="uploadImage($event.target.files,'biometrie')" #avatarFileInput placeholder="Fond de l'oeil" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="champVisuel">Champs Visuel</label>
              <input value="{{fetchedDossier.results.examensCliniques.avlsc.champVisu}}el" type="file" (change)="uploadImage($event.target.files,'champVisuel')" #avatarFileInput class="form-control" />
            </div>
          </div>
        </div>         -->
        <div>
          <span class="text-center font-weight-bold">Biologie</span>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="gaj">GAJ</label>
              <input value="{{fetchedDossier.results.Biologie.GAJ}}" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="hba1c">Hba1c</label>
              <input value="{{fetchedDossier.results.Biologie.Hba1c}}" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nfs">NFS</label>
              <input value="{{fetchedDossier.results.Biologie.NFS}}" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="tp">TP</label>
              <input value="{{fetchedDossier.results.Biologie.TCK}}" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="tck">TCK</label>
              <input value="{{fetchedDossier.results.Biologie.TP}}" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="creatinine">Creatinine</label>
              <input value="{{fetchedDossier.results.Biologie.creatinine}}" type="text" class="form-control" />
            </div>
          </div>
        </div>
      </section>
      <div>
        <button type="button" class="btn btn-info float-right" (click)="updateFolder(fetchedDossier.results._id)">Mettre à jour</button>
      </div>

    </div>
  </div>
</div>
