<form method="post" [formGroup]="dispoForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input formControlName="titre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titre du RV">
        <span class="text-red" *ngIf="titre.invalid">{{ getErrorMessage(titre) }}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="debut">Debut</label>
        <input formControlName="startDate" type="text" class="form-control" readonly id="exampleFormControlInput1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="fin">Fin</label>
        <input formControlName="endDate" type="text" class="form-control" readonly id="exampleFormControlInput1">
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-info float-right" (click)="addDisponibility()" [disabled]="dispoForm.invalid">Save</button>
    <button class="btn btn-danger float-right mr-2" mat-dialog-close>Close</button>
  </div>
  <!-- <div class="alert alert-danger" role="alert" *ngIf="submitted">
      Erreur : {{ errorMessage }}
  </div> -->
</form>
