<form method="post" [formGroup]="dispoForm">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="prenom">Date</label>
        <input formControlName="date" type="date" class="form-control" id="exampleFormControlInput1" placeholder="Prenom">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="nom">Heure Debut</label>
        <input formControlName="start" type="time" placeholder="heure debut" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="nom">Heure Fin</label>
        <input formControlName="end" type="time" placeholder="heure fin" class="form-control" />
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-info float-right" (click)="addDisponibility()">Save</button>
    <button class="btn btn-danger float-right mr-2" mat-dialog-close>Close</button>
</div>
</form>


<!-- <form method="post" [formGroup]="addingForm">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="prenom">Date Debut</label>
        <input formControlName="dateDebut" type="date" class="form-control" id="exampsleFormControlInput1" placeholder="Debut">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="prenom">Date Fin</label>
        <input formControlName="dateFin" type="date" class="form-control" id="exampleFormControlInput1" placeholder="Fin">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="adresse">Type de Reduction</label>
        <input formControlName="typeDeReduction" type="text" class="form-control" id="exampleFormControlInput1" placeholder="type">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="adresse">Code de Reduction</label>
        <input formControlName="codeDeReduction" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Code">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="adresse">Montant de Reduction</label>
        <input formControlName="montantDeReduction" type="number" class="form-control" id="exampleFormControlInput1" placeholder="montant">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender">Age Cible</label>
        <select formControlName="ageCible" class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let age of ages" value="{{age}}" >{{age}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender">Sexe Cible</label>
        <select formControlName="sexeCible" class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let sexe of sexes" value="{{sexe}}" >{{sexe}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="adresse">Quantite</label>
        <input formControlName="quantityBon" type="number" class="form-control" id="exampleFormControlInput1" placeholder="Quantite">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="adresse">Localisation</label>
        <input formControlName="localisation" type="text" class="form-control" id="exampleFormControlInput1" placeholder="localisation">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="adresse">Image</label>
        <input formControlName="image" type="file" class="form-control" id="exampleFormControlInput1" placeholder="Image">
      </div>
    </div>
  </div>
  <div>
      <button class="btn btn-info float-right" (click)="addBon()">Save</button>
      <button class="btn btn-danger float-right mr-2" mat-dialog-close>Close</button>
  </div>
</form> -->
